<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jon.santafelab.runtime">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <application android:label="Santa Fe runtime verification" android:testOnly="true" android:allowBackup="false" />
    <instrumentation android:name=".RuntimeVerification" android:targetPackage="com.jon.santafelab" android:functionalTest="true" />
</manifest>
